{{- if .Values.prometheusRules.enabled }}
{{- $defaultRulesEnabled := .Values.prometheusRules.defaultRulesEnabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "sophora-cluster-common.fullname" . }}
  labels: {{- include "sophora-cluster-common.labels" . | nindent 4 }}
spec:
  groups:
    - name: {{ template "sophora-cluster-common.fullname" $ }}
      rules:
        {{- if $defaultRulesEnabled }}
        - alert: NoPrimarySophoraServer
          for: 1m
          expr: 'absent(sophora_server_replication_mode == 1)'
          labels:
            severity: critical
          annotations:
            summary: The Sophora Cluster has no primary.
            description: No primary server elected in the cluster.
            runbook_url: 'https://github.com/subshell/helm-charts/blob/main/charts/sophora-cluster-common/alerting-runbook.md'
        - alert: SophoraServerNotInSync
          for: 2m
          expr: 'max(sophora_server_source_time and sophora_server_is_primary_server == 1) - ignoring(pod) group_right max by (pod) (sophora_server_source_time and sophora_server_state == 2) > 60000'
          labels:
            severity: high
          annotations:
            summary: Server is not in sync
            description: The server  "{{`{{ $labels.pod }}`}}" is not in sync.
            runbook_url: 'https://github.com/subshell/helm-charts/blob/main/charts/sophora-cluster-common/alerting-runbook.md'
        - alert: MultiplePrimarySophoraServers
          for: 1m
          expr: 'count(sophora_server_replication_mode == 1) > 1'
          labels:
            severity: critical
          annotations:
            summary: The Sophora Cluster has more than one server claiming to be the primary.
            description: There are two primary servers in the cluster.
            runbook_url: 'https://github.com/subshell/helm-charts/blob/main/charts/sophora-cluster-common/alerting-runbook.md'
        {{- end }}
        {{- with .Values.prometheusRules.rules }}
        {{ tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
{{- end }}
