nameOverride: sophora-server

replicaCount: 1

image:
  tag: "4.0.0"
  pullPolicy: Always

additionalSelectorLabels:
  sophora.cloud/app: cluster-server

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: sophora.cloud/app
              operator: In
              values:
                - cluster-server
ingress:
  enabled: true

sophora:
  server:
    logback: |
      <?xml version="1.0" encoding="UTF-8"?>
      <configuration scan="true" scanPeriod="60 seconds">
        Test Logback
      </configuration>
    isClusterServer: true
    storage:
      storageClass: ssd
      resources:
        requests:
          storage: 200Gi
    persistence:
      mysql:
        repository:
          secretName: repository-mysql-credentials
          hostnameKey: hostname
          usernameKey: username
          passwordKey: password
        archive:
          secretName: archive-mysql-credentials
          hostnameKey: hostname
          usernameKey: username
          passwordKey: password
    binaryStore:
      s3:
        secret:
          name: sophora-cloud-binary-store-credentials

    authentication:
      secret:
        name: sophora-user-admin-credentials

    env:
      - name: SOPHORA_INITIALADMINUSERS_0_USERNAME
        value: admin
      - name: SOPHORA_INITIALADMINUSERS_0_PASSWORD
        value: 69madweasels

    properties: |-
      sophora.home=/sophora

service:
  annotations:
    networking.gke.io/load-balancer-type: "Internal"
    networking.gke.io/internal-load-balancer-subnet: "gke-sophora-services"
  type: LoadBalancer
  loadBalancerIP: 1.2.3.4

resources:
  requests:
    memory: "6G"
    cpu: "2"
  limits:
    memory: "12G"
    cpu: "6"
