apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sophora-server.logbackConfigName" . }}
  labels:
  {{- include "sophora-server.labels" . | nindent 4 }}
data:
  logback.xml: |
    <?xml version="1.0" encoding="UTF-8"?>

    <configuration scan="true" scanPeriod="60 seconds">
        <jmxConfigurator />

        <property file="${sophora.properties}" />

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    		    <level>INFO</level>
    	    </filter>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
    	        <onMatch>DENY</onMatch>
    	        <onMismatch>ACCEPT</onMismatch>
            </filter>
            <encoder>
                <pattern>[%d{"yyyy-MM-dd HH:mm:ss.SSSX",UTC}, %-5p] [%t] [UUID: %X{uuid}] [SOPHORA_ID: %X{sophora_id}] [USER: %X{user}] %m%n</pattern>
            </encoder>
        </appender>

        <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
            <target>System.err</target>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder>
                <pattern>[%d{"yyyy-MM-dd HH:mm:ss.SSSX",UTC}, %-5p] [%t] [UUID: %X{uuid}] [SOPHORA_ID: %X{sophora_id}] [USER: %X{user}] %c:%L: %m%n</pattern>
            </encoder>
        </appender>

        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${sophora.home}/logs/sophora.log</File>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${sophora.home}/logs/sophora.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>14</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>[%d{"yyyy-MM-dd HH:mm:ss.SSSX",UTC}, %-5p] [%t] [UUID: %X{uuid}] [SOPHORA_ID: %X{sophora_id}] [USER: %X{user}] %m%n</pattern>
            </encoder>
        </appender>

        <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>

            <File>${sophora.home}/logs/error.log</File>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${sophora.home}/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>14</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>[%d{"yyyy-MM-dd HH:mm:ss.SSSX",UTC}, %-5p] [%t] [UUID: %X{uuid}] [SOPHORA_ID: %X{sophora_id}] [USER: %X{user}] %c:%L: %m%n</pattern>
            </encoder>
        </appender>

        <logger name="com.subshell.sophora" level="INFO" />

        <logger name="com.subshell.sophora.delivery.filter.BenchmarkFilter" level="INFO" />

        <logger name="org.springmodules.cache.interceptor.caching.MetadataCachingInterceptor"
                level="FATAL" />
        <logger name="org.apache.jackrabbit" level="INFO" />
        <logger name="org.apache.jackrabbit.core.persistence.bundle.util.BundleCache"
                level="WARN" />
        <logger name="com.subshell.sophora.commons.profile.LoggingProfiler"
                level="WARN" />
        <logger name="com.subshell.sophora.server.application.manager.impl.LockManager"
                level="WARN" />
        <logger name="org.apache.jackrabbit.core.ItemManager"
                level="ERROR" />
        <logger name="org.apache.jackrabbit.core.nodetype.ValueConstraint"
                level="WARN" />
        <logger name="org.apache.jackrabbit.core.persistence.bundle.util.LRUNodeIdCache"
                level="WARN" />

        <root level="WARN">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="STDERR" />
            <appender-ref ref="logfile" />
            <appender-ref ref="errorLog" />
        </root>
    </configuration>
