{{- if .Values.httproute.enabled -}}
  {{- $fullName := include "sophora-linkchecker.fullname" . -}}
  {{- $svcPort := .Values.service.port -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
  {{- include "sophora-linkchecker.labels" . | nindent 4 }}
  {{- with .Values.httproute.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.httproute.parentRefs }}
  parentRefs:
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if .Values.httproute.hostnames }}
  hostnames:
  {{- range .Values.httproute.hostnames }}
    - {{ . | quote }}
  {{- end }}
  {{- end }}
  rules:
    - backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
      matches:
        - path:
            type: {{ .Values.httproute.pathMatchType | default "PathPrefix" }}
            value: {{ .Values.httproute.pathValue | default "/" }}
{{- end }}
