# Default values for sophora-importer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: docker.subshell.com/sophora/sophora-importer
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "master"

downloadViaHttpImage:
  repository: "docker.subshell.com/misc/alpine-toolkit"
  tag: "0.1.0"
  pullPolicy: IfNotPresent

downloadViaS3Image:
  repository: "docker.subshell.com/misc/aws-cli-tools"
  tag: "0.0.1"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

javaOptions: "-XX:MinRAMPercentage=50.0 -XX:MaxRAMPercentage=90.0 -XX:+AlwaysPreTouch"

# - (object) k8s Pod host aliases which will be used to generate the /etc/hosts file
hostAliases:

sophora:
  authentication:
    secret:
      name: ""
      passwordKey: "password"
      usernameKey: "username"
  importer:
    s3Bucket:
      # If enabled, the importer uses a s3 bucket for incoming imports
      enabled: true
      name: ""
      url: "https://storage.googleapis.com"
      secret:
        name: ""
        secretAccessKeyKey: "accessKey"
        accessKeyIdKey: "accessKeyId"
    extraEnv:
    instances: []
    createImportFolders:
      incoming: s3
      failure: s3
      success: local
      temp: local
    configuration: {}

logbackXml: |
  <?xml version="1.0" encoding="UTF-8"?>
  <configuration scan="true" scanPeriod="60 seconds">
  	<jmxConfigurator/>

  	<property name="PATTERN"
  			  value="%d{dd.MM.yyyy HH:mm:ss} %5level [%12.12thread] [%X{importerInstanceName}: %X{feedName} %X{sourceFileName}] %.40(%logger{0}:%L) --- %msg%n"/>

  	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
  		<encoder>
  			<pattern>${PATTERN}</pattern>
  		</encoder>
  	</appender>

  	<logger name="com.subshell.sophora" level="INFO"/>
  	<logger name="com.subshell.sophora.importer" level="INFO"/>
  	<logger name="org.springframework.boot" level="INFO"/>

  	<root level="WARN">
  		<appender-ref ref="console"/>
  	</root>

  </configuration>

transformation:
  enabled: false
  xslTransformerFactory:
  data:
    use: s3
    zipViaHttp:
      secretName:
      zipUrls:
      usernameKey: "username"
      passwordKey: "password"
    zipViaS3:
      secretName:
      s3Endpoint: "https://storage.googleapis.com"
      bucketName:
      zipPaths:
      secretAccessKeyKey: "secretAccessKey"
      accessKeyIdKey: "accessKeyId"
    useSaxon: false
    saxonLicenceSecretName: "saxon-license"
    saxonLicenceSecretKey: "saxon-license.lic"
    libsPath: libs
    xslPath: xsl

podAnnotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # resources:
  #   requests:
  #     memory: "0.4G"
  #     cpu: "0.01"
  #   limits:
  #     memory: "2G"
  #     cpu: "0.5"

service:
  annotations: {}
  clusterIP: None
  httpPort: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
  tls: []


# There is the option of setting up the importer container with additionalVolumes and additionalVolumeMounts.
# In this case the volumeMount and the volume must be used together and be configured in the same way (e.g. have the same name).
additionalVolumes:

additionalVolumeMounts: