fullnameOverride: "test-webclient"

sophora:
  authentication:
    secret:
      name: "sophora-credentials"

ingress:
  host: "my-site.com"

webclient:
  configuration:
    abc: test
    a:
      b: test2