nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.subshell.com/sophora/seocheck
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "4.0.0"

imagePullSecrets: []

javaOptions: -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem

sophora:
  authentication:
    secret:
      name: ""
      usernameKey: username
      passwordKey: password

  # Represents the application.yaml of Sophora SEO Check
  configuration:
    # Settings for the Sophora server connection.
    sophora:
      client:
        server-connection:
          urls: []
          username: # in secret
          password: # in secret

    # Settings for the SEO Check.
    seo-check:

seoCheck:
  init:
    googleStorageBaseURI: gs://sophora-seo-check

  extraEnv:

storage:
  storageClass: ssd
  dataSize: 200Mi
  persistentDataSize: 100Mi

service:
  type: ClusterIP
  port: 8080
  annotations: {}

ingress:
  enabled: false
  ingressClassName: nginx
  annotations: {}
  hosts:
  tls: []

httpRoute:
  # httpRoute.enabled Whether to create an HTTPRoute resource (Gateway API)
  enabled: false
  # httpRoute.parentRefs References to the Gateway resources that the HTTPRoute should attach to
  # e.g.
  # parentRefs:
  #   - name: my-gateway
  #     namespace: gateway-namespace
  parentRefs: []
  # httpRoute.hostnames Array with hostnames used for the HTTPRoute
  # e.g.
  # hostnames:
  #   - "oneko.my-company.com"
  hostnames: []
  # httpRoute.pathMatchType Type specifies how to match against the HTTP request path. (PathPrefix, Exact or RegularExpression)
  pathMatchType: PathPrefix
  # httpRoute.pathValue Value of the HTTP request path to match against.
  pathValue: /
  # httpRoute.annotations annotations for the HTTPRoute
  annotations: {}

extraDeploy: []

podAnnotations: {}

pvcAnnotations: {}
