{{- if .Values.sophora.grpcApi.enabled -}}
  {{- $fullName := include "sophora-server.fullname" . -}}
  {{- $ingressName := printf "%s-grpc" ($fullName | trunc 58 | trimSuffix "-") }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $ingressName }}
  labels: {{ include "sophora-server.topLevelLabels" . | nindent 4 }}
  {{- with .Values.grpcIngress.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.grpcIngress.ingressClassName }}
  ingressClassName: {{ .Values.grpcIngress.ingressClassName }}
  {{- end -}}
  {{- if .Values.grpcIngress.tls }}
  tls:
    {{- range .Values.grpcIngress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
  rules:
    {{- range .Values.grpcIngress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: {{ .path }}
            pathType: {{ default "ImplementationSpecific" .pathType }}
            backend:
              service:
                name: {{ $fullName }}
                port:
                  name: grpc
  {{- end }}
  {{- end }}
