{{- if and .Values.serverModeLabeler.enabledOnClusterServers .Values.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "sophora-server.fullname" . }}
  labels: {{- include "sophora-server.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - "pods"
    verbs:
      - "get"
      - "patch"
{{- end }}
