# Default values for deskclient-downloads.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.19.9-alpine"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

sophoraDownload:
  baseUrl: "https://software.subshell.com/download-sophora"
  version: ""
  # build identifier. For example: unified-deskclient-downloads
  identifier: ""
  secretName: ""
  usernameKey: "username"
  passwordKey: "password"
  image:
    repository: "docker.subshell.com/misc/alpine-toolkit"
    tag: "0.0.1"
    pullPolicy: IfNotPresent

podAnnotations: {}

startupProbe:
  failureThreshold: 10
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 2

readinessProbe:
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 5

livenessProbe:
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 10

service:
  type:
  annotations:
  clusterIP:
  loadBalancerIP:
  port: 80

storageClassName: ""

ingress:
  enabled: true
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # ingressClassName: nginx
  annotations: {}
    # kubernetes.io/tls-acme: "true"
  hosts:
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}
