apiVersion: apps/v1
kind: Deployment
metadata:
  labels: {{- include "webclient.labels" . | nindent 4 }}
  name: {{ include "webclient.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels: {{- include "webclient.selectorLabels" . | nindent 6 }}
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  revisionHistoryLimit: 10
  template:
    metadata:
      labels: {{- include "webclient.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: webclient
          image: {{ (printf "%s:%s" .Values.webclient.image.name .Values.webclient.image.version) | quote }}
          env:
          - name: SOPHORASERVER_USERNAME
            valueFrom:
              secretKeyRef:
                key: {{ .Values.sophora.authentication.secret.usernameKey | quote }}
                name: {{ required "A valid secret name must be provided in .Values.sophora.authentication.secret.name" .Values.sophora.authentication.secret.name | quote }}
          - name: SOPHORASERVER_PASSWORD
            valueFrom:
              secretKeyRef:
                key: {{ .Values.sophora.authentication.secret.passwordKey | quote }}
                name: {{ required "A valid secret name must be provided in .Values.sophora.authentication.secret.name" .Values.sophora.authentication.secret.name | quote }}
          - name: SOPHORA_CLIENT_HOSTNAME
            value: {{ .Values.webclient.ingress.host | quote }}
          - name: SOPHORA_CLIENT_HTTPS_PORT
            value: "443"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: "/app/config"
            - name: binary
              mountPath: "/app/binary"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
      restartPolicy: Always
      volumes:
        - name: config
          configMap:
            name: {{ include "webclient.configName" . }}
        - name: binary
          configMap:
            name: {{ include "webclient.binaryConfigName" . }}
