fullnameOverride: "test-webclient"

image:
  tag: "latest"

sophora:
  authentication:
    secret:
      name: "sophora-credentials"

ingress:
  ingressClassName: nginx
  hosts:
    - host: "my-site.com"

httproute:
  enabled: true
  parentRefs:
    - name: test-gateway
      namespace: gateway-system
  hostnames:
    - "webclient.test.example.com"

webclient:
  configuration:
    abc: test
    a:
      b: test2

extraEnv:
  - name: FOO
    value: bar
  - name: EXTRA_ENV
    value: extra-spicy-value

extraDeploy:
  - |
    apiVersion: keda.sh/v1alpha1
    kind: ScaledObject
    metadata:
      name: sophora-webclient
    spec:
      scaleTargetRef:
        name: sophora-webclient
      maxReplicaCount: 1
      minReplicaCount: 0
      pollingInterval: 30
      triggers:
      - type: cron
        metadata:
          timezone: Europe/Berlin
          start: 0 6 * * 1,2,3,4,5
          end: 0 23 * * 1,2,3,4,5
          desiredReplicas: "1"