# Default values for sophora-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.subshell.com/sophora/sophora-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

preStop:
  image:
    repository: docker.subshell.com/tools/sophora-prestop
    pullPolicy: IfNotPresent
    tag: "0.2.0"

javaOptions: "-XX:MinRAMPercentage=25.0 -XX:MaxRAMPercentage=90.0 XX:+UseShenandoahGC -Xlog:gc -XX:+AlwaysPreTouch -XX:+UseLargePages -XX:+UseNUMA"

sophora:
  server:
    isClusterServer: true
    storage:
      storageClass:
      dataSource:
      resources: {}
        # requests:
        #   storage: 250Gi
    persistence:
      mysql:
        repository:
       #   secretName:
       #   hostnameKey: hostname
       #   usernameKey: username
       #   passwordKey: password
        archive:
       #   secretName:
       #   hostnameKey: hostname
       #   usernameKey: username
       #   passwordKey: password
    binaryStore:
      s3:
        secret:
          name:
          secretAccessKeyKey: secretAccessKey
          accessKeyIdKey: accessKeyId

    authentication:
      secret:
        name:
        usernameKey: username
        passwordKey: password

    properties:
      # sophora.home=/sophora
      # sophora.replication.mode=
      # # clusterMode=open
      # # Ingress specific
      # sophora.replication.slaveHostname=
      # sophora.remote.api.http.port=1196
      # sophora.remote.jmsbroker.host=
      # sophora.remote.jmsbroker.port=1197
      # sophora.rmi.servicePort=1198
      # sophora.rmi.registryPort=1199
      # sophora.local.jmsbroker.host=0.0.0.0
      # sophora.local.jmsbroker.port=1197
      # # S3 credentials are stored in a secret
      # sophora.binarystore=s3
      # sophora.binarystore.s3.host=
      # sophora.binarystore.s3.bucketName=
      # sophora.ibf.enabled = true

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

imagePullSecrets: []
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  annotations: {}
  type:
  sessionAffinity: None
  sessionAffinityConfig: {}
  loadBalancerIP:
  clusterIP:

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
