
nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

javaOptions: "-XX:InitialRAMPercentage=50.0 -XX:MaxRAMPercentage=80.0 -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem"

hostAliases:

resources: {}

oneko:
  image:
    name: subshellgmbh/o-neko
    tag: latest
    imagePullPolicy: IfNotPresent

  env:
    - name: SPRING_PROFILES_ACTIVE
      value: "json-logs"

  helm:
    gcs:
      secret:
        name:
        serviceAccountField:

  mongodb:
    secret:
      name: #required
      uriField: uri
  credentialsCoderKeySecret:
    name: #required
    fieldName: key

  config:

startupProbe:
  failureThreshold: 10
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 2

readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 5

livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 15
  timeoutSeconds: 10
  periodSeconds: 60

service:
  annotations: {}
  type:
  sessionAffinity: None
  sessionAffinityConfig: {}
  loadBalancerIP:
  clusterIP:

ingress:
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # ingressClassName: nginx
  hosts:
  tls:
  annotations: {}
