{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "sophora-importer.fullname" . -}}
{{- $svcPort := .Values.service.httpPort -}}
{{- $rules := list (dict) -}}
{{/* backward compatible to version 2.4.x */}}
{{- $firstRule := dict -}}
{{- if .Values.httpRoute.rules -}}
  {{- $firstRule = first .Values.httpRoute.rules -}}
{{- else if or .Values.httpRoute.matches .Values.httpRoute.filters -}}
  {{- $firstRule = dict "matches" .Values.httpRoute.matches "filters" .Values.httpRoute.filters -}}
{{- end -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "sophora-importer.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    - backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
      {{- with $firstRule.matches }}
      matches:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $firstRule.filters }}
      filters:
      {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
