
nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

hostAliases:

resources: {}

oneko:
  image:
    name: subshellgmbh/o-neko-catnip
    tag: latest
    imagePullPolicy: IfNotPresent
  api:
    baseUrl:
    auth:
      secretName:

serviceMonitor:
  enabled: false
  interval: 10s

startupProbe:
  failureThreshold: 10
  initialDelaySeconds: 0
  timeoutSeconds: 1
  periodSeconds: 2

readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 0
  timeoutSeconds: 5
  periodSeconds: 1

livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 0
  timeoutSeconds: 5
  periodSeconds: 10

service:
  annotations: {}
  type:
  sessionAffinity: None
  sessionAffinityConfig: {}
  loadBalancerIP:
  clusterIP:

ingress:
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # ingressClassName: nginx
  defaultBackend:
    enabled: false
  hosts:
  tls:
  annotations: {}
