image:
  tag: "5.0.0"
  pullPolicy: Always

imagePullSecrets:
  - name: docker-subshell

sophora:
  serverUrl: http://sophora-server:1196
  authentication:
    secret:
      name: "sophora-user-admin-credentials"

  configuration:
    sophora:
      client:
        server-connection:
          urls: [ http://cluster-01-sophora-server:1196 ]
          username: # in secret
          password: # in secret
      image-service:
        s3-image-store:
          host: "https://storage.googleapis.com"
          bucket-name: "image-service"
        url:
          domain-name: "http://image-service"

s3:
  secret:
    name: "sophora-image-service-bucket-credentials"
    accessKeyIdKey: "accessKeyId"
    secretAccessKeyKey: "secretAccessKey"

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    foo: bar
  hosts:
  tls: []

extraIngress:
  - ingressClassName: nginx
    annotations:
      foo: baz
    hosts:
    tls: []

httproute:
  enabled: true
  parentRefs:
    - name: test-gateway
      namespace: gateway-system
  hostnames:
    - "image-access.test.example.com"

extraHTTPRoute:
  - parentRefs:
      - name: test-gateway-2
        namespace: gateway-system
    hostnames:
      - "image-access-2.test.example.com"

extraDeploy:
  - apiVersion: subshell/v2
