kind: Service
apiVersion: v1
metadata:
  name: {{ include "access-service.fullname" . }}
  labels:
    {{- include "access-service.labels" . | nindent 4 }}
  annotations: {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type | quote }}
  {{ if .Values.service.clusterIP -}}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  selector: {{- include "access-service.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      protocol: TCP
