{{- if .Values.serviceMonitor.enabled -}}
{{- $fullName := include "access-service.fullname" . -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
    name: {{ $fullName }}
    labels: {{- include "access-service.labels" . | nindent 8 }}
spec:
    selector:
        matchLabels: {{- include "access-service.selectorLabels" . | nindent 12 }}
    endpoints:
        - interval: {{ .Values.serviceMonitor.interval }}
          port: metrics
          path: {{ .Values.serviceMonitor.path }}
{{- end }}
