# Default values for sophora-importer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: docker.subshell.com/sophora/sophora-importer
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "master"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# - (object) k8s Pod host aliases which will be used to generate the /etc/hosts file
hostAliases:

sophora:
  authentication:
    secret:
      name: ""
      passwordKey: "password"
      usernameKey: "username"
  importer:
    javaOptions: "-XX:InitialRAMPercentage=50.0 -XX:MaxRAMPercentage=80.0 -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem"
    additionalDataImage:
      saxonLicenceSecret:
        name: ""
        licenceFileKey: "saxon-license.lic"
      repository: ""
      tag: ""
      libsPath: "/data/libs"
      xslPath: "/data/xsl"
      miscPath: "/data/misc"
    folders:
      - /import/successful
      - /import/failure
      - /import/incoming
      - /import/temp
    configuration: {}

configGenerator:
  image:
    repository: "docker.subshell.com/misc/alpine-toolkit"
    tag: "0.0.1"
    pullPolicy: IfNotPresent

podAnnotations: {}

nodeSelector: {}

resources:
  requests:
    cpu: 200m
    memory: 2Gi
  limits:
    memory: 2Gi

importPvcSpec: {}

env: {}

service:
  annotations: {}
  clusterIP: None
  httpPort: 80


# There is the option of setting up the importer container with additionalVolumes and additionalVolumeMounts.
# In this case the volumeMount and the volume must be used together and be configured in the same way (e.g. have the same name).
additionalVolumes:

additionalVolumeMounts:
