# Default values for sophora-importer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: docker.subshell.com/sophora/sophora-importer
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "master"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# - (object) k8s Pod host aliases which will be used to generate the /etc/hosts file
hostAliases:

sophora:
  authentication:
    secret:
      name: ""
      passwordKey: "password"
      usernameKey: "username"
  importer:
    javaOptions: "-XX:MinRAMPercentage=50.0 -XX:MaxRAMPercentage=90.0 -XX:+AlwaysPreTouch"
    additionalDataImage:
      saxonLicenceSecret:
        name: ""
        licenceFileKey: "saxon-license.lic"
      repository: ""
      tag: ""
      libsPath: "/data/libs"
      xslPath: "/data/xsl"
      miscPath: "/data/misc"
    folders:
      - /import/successful
      - /import/failure
      - /import/incoming
      - /import/temp
    configuration: {}

configGenerator:
  image:
    repository: "docker.subshell.com/misc/alpine-toolkit"
    tag: "0.0.1"
    pullPolicy: IfNotPresent

podAnnotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # resources:
  #   requests:
  #     memory: "0.4G"
  #     cpu: "0.01"
  #   limits:
  #     memory: "2G"
  #     cpu: "0.5"

importPvcSpec: {}

env: {}