{{- if .Values.serviceMonitor.enabled -}}
{{- $fullName := include "o-neko-catnip.fullname" . -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
    name: {{ $fullName }}
    labels: {{- include "o-neko-catnip.labels" . | nindent 8 }}
spec:
    selector:
        matchLabels: {{- include "o-neko-catnip.selectorLabels" . | nindent 12 }}
    endpoints:
        - interval: {{ .Values.serviceMonitor.interval }}
          port: {{ .Values.oneko.useSeparateMetricsPort | ternary "metrics" "http" }}
          path: /metrics
{{- end }}
