replicaCount: 1

image:
  repository: docker.subshell.com/sophora/sophora-indexing-service
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# - (object) k8s Pod host aliases which will be used to generate the /etc/hosts file
hostAliases:

solr:
  basicAuth:
    enabled: false
    secret:
      name: ""
      usernameKey: "username"
      passwordKey: "password"

sophora:
  authentication:
    secret:
      name: ""
      passwordKey: "password"
      usernameKey: "username"

redis:
  authentication:
    # use this env variable in sisi.configuration.spring.redis.redisson.config to set the password
    # with ${REDIS_AUTHENTICATION_PASSWORD}
    envName: "REDIS_AUTHENTICATION_PASSWORD"
    secret:
      name: ""
      passwordKey: "password"

sisi:
  # - (array) k8s env configuration
  env: []
  configuration:

javaOptions: "-XX:MinRAMPercentage=50.0 -XX:MaxRAMPercentage=95.0"

serviceMonitor:
  enabled: false
  interval: 10s

startupProbe:
  httpPath: '/health'
  failureThreshold: 15
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 2

readinessProbe:
  httpPath: '/health'
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 5

livenessProbe:
  httpPath: '/health'
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 10

podAnnotations: {}

service:
  type: ClusterIP
  port: 1837

ingress:
  enabled: false
  annotations: {}
  hosts:
  tls: []

resources: {}

serviceAccount:
  create: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
