nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.subshell.com/sophora/imageai
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "5.1.0"

imagePullSecrets: []

javaOptions: -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem

sophora:
  authentication:
    secret:
      name: ""
      usernameKey: username
      passwordKey: password

  # Represents the application.yaml of Sophora Image AI
  configuration:
    # Settings for the Sophora server connection.
    sophora:
      client:
        server-connection:
          urls: []
          username: # in secret
          password: # in secret

    spring:
      cloud:
        gcp:
          # GCP project ID
          project-id: my-project

imageAI:
  # Extra environment variables.
  #
  # Example extra environment variable to use a GCP credentials file from a secret.
  # Use this in combination with extraVolumes and extraVolumeMounts.
  #
  # - name: GOOGLE_APPLICATION_CREDENTIALS
  #   value: /gcp-credentials/credentials.json
  extraEnv:

resources:
  requests:
    cpu: 10m
    memory: 1Gi
  limits:
    memory: 2Gi

service:
  type: ClusterIP
  port: 8080
  annotations: {}

ingress:
  enabled: false
  ingressClassName: nginx
  annotations: {}
  hosts:
  tls: []

httpRoute:
  # httpRoute.enabled Whether to create an HTTPRoute resource (Gateway API)
  enabled: false
  # httpRoute.parentRefs References to the Gateway resources that the HTTPRoute should attach to
  # e.g.
  # parentRefs:
  #   - name: my-gateway
  #     namespace: gateway-namespace
  parentRefs: []
  # httpRoute.hostnames Array with hostnames used for the HTTPRoute
  # e.g.
  # hostnames:
  #   - "oneko.my-company.com"
  hostnames: []
  # httpRoute.pathMatchType Type specifies how to match against the HTTP request path. (PathPrefix, Exact or RegularExpression)
  pathMatchType: PathPrefix
  # httpRoute.pathValue Value of the HTTP request path to match against.
  pathValue: /
  # httpRoute.annotations annotations for the HTTPRoute
  annotations: {}

extraDeploy: []

# Extra volumes.
#
# Example extra volume to use a GCP credentials file from a secret:
#
# - name: gcp-credentials
#   secret:
#     secretName: sophora-image-ai-gcp-credentials
extraVolumes: []

# Extra volume mounts.
#
# Example extra volume mount to use a GCP credentials file from a secret:
#
# - name: gcp-credentials
#   mountPath: /gcp-credentials
#   readOnly: true
extraVolumeMounts: []

podAnnotations: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
