## @section Common parameters
##

# nameOverride String to partially override the name
nameOverride: ""

# fullnameOverride String to fully override the release name
fullnameOverride: ""

# imagePullSecrets Docker registry secret names as an array
imagePullSecrets: []

# javaOptions String with Java VM Options passed to the application
javaOptions: "-XX:InitialRAMPercentage=50.0 -XX:MaxRAMPercentage=80.0 -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem"

# hostAliases Host aliases available to the application
hostAliases:

# resources.limits The resource limits for the container
# resources.requests The resource requests for the container
resources:
  limits: {}
  requests: {}

## @section O-Neko parameters
## Parameters which configure the O-Neko installation
##

oneko:

  # oneko.image.name O-Neko image repository
  # oneko.image.tag O-Neko image tag
  # oneko.image.imagePullPolicy Image Pull Policy
  image:
    name: subshellgmbh/o-neko
    tag: 1.8.2
    imagePullPolicy: IfNotPresent

  ## @extra oneko.env array of environment variables passed to the container
  # oneko.env[0].name default environment variable name for activation json logging
  # oneko.env[0].value name of the Spring profile used to activate json logging
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: "json-logs"

  ## Helm parameter configuration
  # oneko.helm.gcs.secret.name The secret name of the Google Service Account used, if using Helm GCS
  # oneko.helm.gcs.secret.serviceAccountField The field in the secret of the Google Service Account
  helm:
    gcs:
      secret:
        name:
        serviceAccountField:

  ## MongoDB connection parameters
  # oneko.mongodb.secret.name Name of the secret holding the MongoDB connection URI
  # oneko.mongodb.secret.uriField Name of the field in the secret containing the MongoDB URI
  mongodb:
    secret:
      name: #required
      uriField: uri

  ## Secret containing the key for symmetrical encryption of sensitive data in the database
  # oneko.credentialsCoderKeySecret.name Name of the secret
  # oneko.credentialsCoderKeySecret.fieldName Name of the field in the secret
  credentialsCoderKeySecret:
    name: #required
    fieldName: key

  ## @extra oneko.config The application.yaml containing the O-Neko application configuration
  ## @skip oneko.config
  config:
    management:
      endpoints:
        web:
          exposure:
            include: health, info, prometheus, threaddump
    spring:
      data:
        mongodb:
          autoIndexCreation: true

## @section Probes
##

# startupProbe.failureThreshold Failure threshold for startupProbe
# startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
# startupProbe.timeoutSeconds Timeout seconds for startupProbe
# startupProbe.periodSeconds Period seconds for startupProbe
startupProbe:
  failureThreshold: 10
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 2

# readinessProbe.failureThreshold Failure threshold for readinessProbe
# readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
# readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
# readinessProbe.periodSeconds Period seconds for readinessProbe
readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 5

# livenessProbe.failureThreshold Failure threshold for livenessProbe
# livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
# livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
# livenessProbe.periodSeconds Period seconds for livenessProbe
livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 15
  timeoutSeconds: 10
  periodSeconds: 60

## @section Traffic Exposure parameters
##

service:
  # service.annotations annotations for the service
  annotations: {}
  # service.type Kubernetes service type
  type:
  # service.sessionAffinity the service's sessionAffinity
  sessionAffinity: None
  # service.sessionAffinityConfig additional sessionAffinity configuration
  sessionAffinityConfig: {}
  # service.loadBalancerIP A loadBalancerIP configuration
  loadBalancerIP:
  # service.clusterIP The service's clusterIP
  clusterIP:

ingress:
  # ingress.ingressClassName name of the ingressClass used for the ingress
  ingressClassName:
  # ingress.hosts Array with hostnames used for the ingress
  ## e.g.
  ## hosts:
  ##   - host: "oneko.my-company.com"
  hosts:
  # ingress.tls TLS configuration of the ingress as an array
  ## e.g.
  ## tls:
  ##   - hosts:
  ##     - "oneko.my-company.com"
  ##     secretName: oneko-tls
  tls:
  # ingress.annotations annotations for the ingress
  annotations: {}

httpRoute:
  # httpRoute.enabled Whether to create an HTTPRoute resource (Gateway API)
  enabled: false
  # httpRoute.parentRefs References to the Gateway resources that the HTTPRoute should attach to
  ## e.g.
  ## parentRefs:
  ##   - name: my-gateway
  ##     namespace: gateway-namespace
  parentRefs: []
  # httpRoute.hostnames Array with hostnames used for the HTTPRoute
  ## e.g.
  ## hostnames:
  ##   - "oneko.my-company.com"
  hostnames: []
  # httpRoute.pathMatchType Type specifies how to match against the HTTP request path. (PathPrefix, Exact or RegularExpression)
  pathMatchType: PathPrefix
  # httpRoute.pathValue Value of the HTTP request path to match against.
  pathValue: /
  # httpRoute.annotations annotations for the HTTPRoute
  annotations: {}

## @section Metrics
##
## Specific for the use with the kube-prometheus-stack

# serviceMonitor.enabled Whether the serviceMonitor resource should be deployed
# serviceMonitor.interval Prometheus scrape interval
# serviceMonitor.path HTTP path prometheus should use to scrape the application's metrics
serviceMonitor:
  enabled: false
  interval: 10s
  path: "/actuator/prometheus"
