nameOverride: test-technology-radar

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true

resources:
  limits:
    cpu: "500m"
    memory: "100M"
  requests:
    cpu: "250m"
    memory: "25M"
