replicaCount: 1

image:
  repository: docker.subshell.com/sophora/sophora-indexing-service
  pullPolicy: IfNotPresent
  tag: "latest"

solr:
  basicAuth:
    enabled: true
    secret:
      name: ""
      usernameKey: "username"
      passwordKey: "password"

sophora:
  authentication:
    secret:
      name: "sophora-secret"

redis:
  authentication:
    secret:
      name: "redis-secret"


sisi:
  configuration:
    value1: 1
    value2:
      value3: 3
  env:
    - name: test
      valueFrom:
        secretKeyRef:
          key: a
          name: v

podAnnotations: {}

podLabels: {}

ingress:
  enabled: true
  ingressClassName: nginx
  annotations: {}
  hosts:
  tls: []

serviceMonitor:
  enabled: true
  path: /test/prometheus

startupProbe:
  httpPath: '/test/health'
  failureThreshold: 15
  initialDelaySeconds: 10
  timeoutSeconds: 1
  periodSeconds: 2

readinessProbe:
  httpPath: '/test/health'
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 5

livenessProbe:
  httpPath: '/test/health'
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 10
