nameOverride: linkchecker

image:
  repository: docker.subshell.com/sophora/linkchecker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

imagePullSecrets:
  - name: docker-subshell

sophora:
  authentication:
    secret:
      name: sophora-secret

  configuration:
    sophora:
      client:
        server-connection:
          urls:
            - https://sophora-server.example.com:1196
          username: # in secret
          password: # in secret

linkChecker:
  extraEnv:

resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 2000m
    memory: 2Gi

podAnnotations: {}

ingress:
  enabled: true
  ingressClassName: nginx
  annotations: {}
  hosts:
  tls: []

httpRoute:
  enabled: true
  parentRefs:
    - name: test-gateway
      namespace: gateway-system
  hostnames:
    - "linkchecker.test.example.com"
