nameOverride: ""
fullnameOverride: ""

image:
  repository: docker.subshell.com/sophora/linkchecker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "6.0.0"

imagePullSecrets: []

javaOptions: -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem

sophora:
  authentication:
    secret:
      name: ""
      usernameKey: username
      passwordKey: password

  # Represents the application.yaml of Sophora Link Checker.
  configuration:
    # Settings for the Sophora server connection.
    sophora:
      client:
        server-connection:
          urls: []
          username: # in secret
          password: # in secret

    link-checker:

startupProbe:
  failureThreshold: 15
  initialDelaySeconds: 5
  timeoutSeconds: 30
  periodSeconds: 1

readinessProbe:
  failureThreshold: 5
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 5

livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 15
  timeoutSeconds: 10
  periodSeconds: 60

resources:
  requests:
    cpu: 200m
    memory: 1Gi
  limits:
    memory: 1Gi

linkChecker:
  extraEnv:

service:
  type: ClusterIP
  port: 8080
  annotations: {}

ingress:
  enabled: false
  ingressClassName: nginx
  annotations: {}
  hosts:
  tls: []

httpRoute:
  # httpRoute.enabled Whether to create an HTTPRoute resource (Gateway API)
  enabled: false
  # httpRoute.parentRefs References to the Gateway resources that the HTTPRoute should attach to
  # e.g.
  # parentRefs:
  #   - name: my-gateway
  #     namespace: gateway-namespace
  parentRefs: []
  # httpRoute.hostnames Array with hostnames used for the HTTPRoute
  # e.g.
  # hostnames:
  #   - "oneko.my-company.com"
  hostnames: []
  # httpRoute.pathMatchType Type specifies how to match against the HTTP request path. (PathPrefix, Exact or RegularExpression)
  pathMatchType: PathPrefix
  # httpRoute.pathValue Value of the HTTP request path to match against.
  pathValue: /
  # httpRoute.annotations annotations for the HTTPRoute
  annotations: {}

extraDeploy: []

podAnnotations: {}
