apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sophora-importer.fullname" . }}
  labels:
  {{- include "sophora-importer.labels" . | nindent 4 }}
data:
  application.yml: |- {{ toYaml (required "A configuration is required" .Values.sophora.importer.configuration) | nindent 4 }}
