apiVersion: v1
kind: Service
metadata:
  name: {{ include "sophora-importer.fullname" . }}
  labels:
    {{- include "sophora-importer.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8082
      name: main
    - protocol: TCP
      port: 1496
      targetPort: 1496
      name: jolokia
  selector:
    {{- include "sophora-importer.selectorLabels" . | nindent 4 }}
