image:
  pullPolicy: Always
  tag: "4.0.0"

nameOverride: "test-importer"
javaOptions: "-XX:MinRAMPercentage=50.0 -XX:MaxRAMPercentage=90.0 -XX:+AlwaysPreTouch"

hostAliases:
  - ip: 10.10.1.1
    hostnames:
      - sophora.domain.de

serviceMonitor:
  enabled: true

extraDeploy:
  - |
    apiVersion: v1
    data:
      auth: Zm9vOiRhcHIxJE9GRzNYeWJwJGNrTDBGSERBa29YWUlsSDkuY3lzVDAK
    kind: Secret
    metadata:
      name: basic-auth
      namespace: default
    type: Opaque

sophora:
  authentication:
    secret:
      name: "sophora-user-importer-credentials"
      passwordKey: "password"
      usernameKey: "username"
  importer:
    extraEnv:
      - name: AAA
        value: a-value
      - name: BBB
        value: b-value
    s3Bucket:
      name: "my-bucket"
      url: "https://storage.googleapis.com"
      region: "eu-west-3"
      secret:
        name: "sophora-importer-bucket-credentials"
        secretAccessKeyKey: "secretAccessKey"
        accessKeyIdKey: "accessKeyId"
    configuration:
      sophora:
        client:
          server-connection:
            url: http://cluster-01-sophora-server:1196
            username: # in secret
            password: # in secret
            retries: 15
            retry-interval: 10

      importer:
        name: Main-Importer
        # sophora.importer.xslTransformerFactory=net.sf.saxon.TransformerFactoryImpl

        # Defaults for all instances.
        folders:
          watchCheckInterval: 1000
          watchRecursive: true

        webService:
          enabled: false

        filenamesAddTimestamp: true

        cleanupFoldersCron: "0 0 9 ? * * *" # every day at 9AM
        cleanupFoldersSuccessfulMaxAge: 1 # in days
        cleanupFoldersFailureMaxAge: 7 # in days
        keepTempfiles: false

        # Configuration of the importer instances
        instances:
          - name: Common Imports
            key: common
            transform: skipTransform
            folders:
              watch: s3://common/incoming
              temp: /import-local/common/temp
              success: s3://common/success
              failure: s3://common/failure
              xsl: /xsl
            defaultStructureNode: /import

      server:
        port: 8081
        address: 0.0.0.0


transformation:
  enabled: true
  data:
    zipViaS3:
      secretName:
      s3Endpoint: "https://storage.googleapis.com"
      bucketName: "my-bucket"
      zipPaths: ["a", "b"]
      secretAccessKeyKey: "secretAccessKey"
      accessKeyIdKey: "accessKeyId"
    useSaxon: false
    saxonLicenceSecretName: "saxon-license"
    saxonLicenceSecretKey: "saxon-license.lic"

resources:
  requests:
    memory: "2G"
    cpu: "0.01"
  limits:
    memory: "2G"

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    foo: bar
  hosts:
  tls: []

extraIngress:
  - ingressClassName: nginx
    annotations:
      foo: baz
    hosts:
    tls: []

httpRoute:
  # HTTPRoute enabled.
  enabled: true
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
    - name: gateway
      sectionName: http
      # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
    - chart-example.local
  matches:
    - path:
        type: PathPrefix
        value: /headers
  # List of rules and filters applied.
  #rules:
  #  - matches:
  #      - path:
  #          type: PathPrefix
  #          value: /headers