name: Release Charts

on:
  workflow_run:
    workflows:
      - Test Charts
    branches:
      - main
    types:
      - completed

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository == 'subshell/helm-charts'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Helm Deps
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Run chart-releaser - oci
        uses: bitdeps/helm-oci-charts-releaser@v0.1.5
        with:
          oci_registry: ghcr.io/NorddeutscherRundfunk/subshell-helm-charts
          github_token: '${{ secrets.GITHUB_TOKEN }}'
