name: Test Charts

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Test Chart
        uses: d3adb5/helm-unittest-action@v2.5.0
        with:
          helm-version: v3.20.0

      # validate YAML files with JSON schema
      - name: Install the JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.7.0
      - name: validate every Chart.yaml
        run: |-
          allCharts=$(find charts/ -name Chart.yaml -printf '%p ')
          jsonschema validate chart-schema.json ${allCharts} --http
