name: Validate YAML

on:
  push:
    paths:
    - '**.yml'
    - '**.yaml'

jobs:
  validate-yaml:
    name: Validate Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install the JSON Schema CLI
      uses: sourcemeta/jsonschema@v14.7.9

    - name: validate every Chart.yaml
      run: |
        jsonschema validate chart-schema.json $(find charts -name Chart.yaml) --http --benchmark
