name: Validate YAML

on:
  push:
    paths:
      - '**.yml'
      - '**.yaml'

jobs:
  validate-yaml:
    name: Validate YAML
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: validate all Chart.yaml
        uses: RomanosTrechlis/actions-validate-yaml@v1.0
        with:
          schema: chart-schema.json
          data: |-
            charts/*/Chart.yaml
