name: Validate YAML

on:
  push:
    paths:
      - '**.yml'
      - '**.yaml'

jobs:
  validate-yaml:
    name: Validate Helm Chart
    runs-on: ubuntu-latest
    container:
      image: weibeld/ajv-cli:5.0.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: validate all Chart.yaml
        run: |
          find charts -name Chart.yaml -exec ajv --spec draft2020 -c ajv-formats -s chart-schema.json -d {} \;
