name: Validate YAML

on:
  push:
    paths:
    - 'charts/*/Chart.yaml'

jobs:
  validate-yaml:
    name: Validate Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install the JSON Schema CLI
      uses: sourcemeta/jsonschema@v14.7.0

    - name: validate every Chart.yaml
      run: |
        allCharts=$(find charts/ -name Chart.yaml -printf '%p ')
        jsonschema validate chart-schema.json ${allCharts} --http
