name: Validate YAML

on:
  push:
    paths:
      - '**.yml'
      - '**.yaml'

jobs:
  validate-yaml:
    name: Validate Helm Chart
    runs-on: ubuntu-latest
    outputs:
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: collect Chart.yamls
        id: collect-charts
        run: |
          echo "INPUT_DATA='$(find charts -name Chart.yaml)'" >> "$GITHUB_ENV"

      - name: validate all Chart.yaml
        uses: RomanosTrechlis/actions-validate-yaml@v1.0
        with:
          schema: chart-schema.json
